/* Add this to your CSS file (e.g., App.css) */
@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.scale-in-text {
  animation: scaleIn 2s ease forwards; /* Adjust duration as needed */
  transform-origin: center; /* Scale from the center */
}


.feedback-btn{
  position: fixed;
  bottom: 10px;
  font-size: 15px ;
  right: -75px;
  transition: .5s all;
}
.feedback-btn:hover{
  right: 10px;
}
